

DB_USER=postgres
DB_PASSWORD=123456
DB_NAME=decade-shop



# Openssl secret key| generado en bash con: openssl rand -base64 32
AUTH_SECRET="PAp9G6KZ40VU6JacAnvzcOWGBaD4pOkbs4YGCjQOAjI="

# https://console.cloudinary.com
CLOUDINARY_URL=cloudinary://944647921144247:FqC5Y22qCIpE-bYExX1j71rsea4@dgpgsog46
# ========= Paypal
# https://developer.paypal.com/dashboard/
# felix@decade.com
# A123456789
NEXT_PUBLIC_PAYPAL_CLIENT_ID=AYfavjtXvKd8VLvZtGYhKVv6_miL93e4pTvhKNe4ijc3jtnfn_F8RC3bey4lYlYDlQILDNDEJ5PxWlwq
PAYPAL_SECRET=EF4ItYLv675TREQ2L3-2fSlNISwPlFgD_IVVOw04XD0BVWKsphXbZmV0pvycB1XNf0E5VJufw0Rdi2OQ

# POST
PAYPAL_OAUTH_URL=https://api-m.sandbox.paypal.com/v1/oauth2/token

#GET
PAYPAL_ORDERS_URL=https://api.sandbox.paypal.com/v2/checkout/orders

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

#Esto puede variar dependiendo de la configuración de tu base de datos
#DATABASE_URL="postgresql://postgres:123456@localhost:5432/decade-shop?schema=public"
DATABASE_URL="postgres://default:eF8BKNx1TztL@ep-fragrant-voice-a4bfmg4j.us-east-1.aws.neon.tech:5432/verceldb?sslmode=require"