@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #274494;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */ 

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(226 232 240);
  position: relative;
  width: 100%;
}

@keyframes moveLeft {
  0% {
      transform: translateX(0); /* Sin movimiento */
  }
  100% {
      transform: translateX(-100vw); /* Mueve el ícono hacia la izquierda */
  }
}
.move-left {
  animation: moveLeft 3s forwards; /* Mueve el ícono hacia la izquierda */
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
} 

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fade-in {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


.btn-primary {
  @apply bg-colorPrimary hover:bg-colorHover text-colorSecondary hover:text-colorPrimary py-3 rounded-brAll transition-all uppercase w-full;
}

.btn-secondary {
  @apply bg-colorGray hover:bg-colorHover text-colorPrimary hover:text-colorSecondary py-3 rounded-brAll transition-all uppercase w-full;
}

.btn-disabled {
  @apply bg-colorGray  hover:bg-colorHover text-colorPrimary hover:text-colorSecondary py-3 rounded-brAll transition-all uppercase w-full;
}

.btn-danger {
  @apply bg-red-500 hover:bg-red-700 text-white py-3 px-4 transition-all w-full;
}

/* SCROLLLLLLLL */

::-webkit-scrollbar {
  width: 6px;
  border-radius: 3px;
  paddig: 3px;
}

::-webkit-scrollbar-track {
  background: #FFFDF6;
  border: 1px solid #384C2E;
}

::-webkit-scrollbar-thumb {
  background: #384C2E;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #DDA15E;
  
}
